.logo {
    width: 10rem;
}
.modes a {
    text-decoration: none;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.header {
    user-select: none;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(37, 37, 37);
    color: white;
}

.box-logo {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.friend-list a {
    text-decoration: none;
    color: rgba(0,108,72,1);
}

.friend-list {
    display: flex;
    color: rgba(0,108,72,1);
    gap: 1rem;
    width: 10rem;
    background-color: white;
    align-items: center;
    margin-block: 1rem;
    margin-right: 0.5rem;
    padding-inline: 1.5rem;
    border-radius: 1rem;
    font-size: x-large;
    font-weight: bold;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.friend-list:hover {
    transform: scale(1.1);

}

@media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
}
@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
}
@media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/
}