.game-button {
    text-decoration: none;
    font-family: 'Poppins-Black.ttf';
    color: white;
    background-color: black;
    font-size: x-large;
    padding-inline: 1rem;
    border-radius: 0.75rem;
    letter-spacing: 0.30rem;
    transition: transform .25s;
}

.game-button:hover {
    background-color: rgb(43, 43, 43);
    transform: scale(1.1);
}

.container {
    user-select: none;
    background-color: grey;
    color: white;
    display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;     /* center items horizontally, in this case */
    height: 100vh;
}

.game-selector {
    border-radius: 1rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    background-color: rgba(88, 88, 88, 0.5);
    backdrop-filter: blur(10px);
}



h1 {
    white-space: nowrap;
    font-family: 'Poppins-Bold.ttf';
    text-align: center;
}