@font-face {
  font-family: 'Poppins-Black.ttf';
  src: url('/src/fonts/Poppins-Black.ttf');
}

@font-face {
  font-family: 'Poppins-Bold.ttf';
  src: url('/src/fonts/Poppins-Bold.ttf');
}

@font-face {
  font-family: 'Poppins-Thin.ttf';
  src: url('/src/fonts/Poppins-Thin.ttf');
}

@font-face {
  font-family: 'Poppins-Light.ttf';
  src: url('/src/fonts/Poppins-Light.ttf');
}